<!DOCTYPE html>
<html lang="de">
<head>
    <title>Project Gulasch Reloaded</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"></link>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center sticky-top">
        <ul class="navbar-nav">
        </ul>  
    </nav>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1 class='display-2'><a href='/' style='color:black;text-decoration:none;'>Project Gulasch Reloaded</a></h1>
        <p>Wenn der kleine Hunger kommt!</p> 
    </div>
{% block page_content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
