<form action="{% url 'create-food' %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>Test</h1></legend>
    <label for="name">Name des Gerichtes</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="cost">Kosten des Gerichtes</label>
    <input type="text" name="cost" id="cost">
    <br>
</fieldset>
<input type="submit" value="Create">
</form>