{% extends "frontend/base.html" %}
{% load static %}
{% block page_content %}
<div class="col-md-8 mx-auto">
    <div class='text-center'>
        <p></p>
        {% for date in dates %}
            <h3>{{date.date}}</h3>
            {% for food in date.foods.all %}
                <h5>{{food.name}}</h5>
            {% endfor %}
            {% for vegetable in date.vegetables.all %}
                <h5 style='color:green'>{{vegetable.name}}</h5>
            {% endfor %}
            {% for saturation in date.saturations.all %}
                <h5 style='color:goldenrod'>{{saturation.name}}</h5>
            {% endfor %}   
        {% endfor %}
    </div>
</div>
{% endblock %}
